<div class="container">
    <div class="row">
        <ng-container *ngFor="let cancion of this.pista">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/random/300x200" class="card-img-top" alt="pista cover">
                    <div class="card-body">
                      <h5 class="card-title">{{cancion.titulo}} - {{cancion.artista}}</h5>
                      <p class="card-text">Álbum: {{cancion.album}}</p>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger" (click)="this.play(this.pista.indexOf(cancion))"><i class="bi bi-file-play-fill"></i></button>
                        <button class="btn btn-danger" (click)="this.pause(this.pista.indexOf(cancion))"><i class="bi bi-pause-btn-fill"></i></button>
                        <button class="btn btn-danger" (click)="this.volMenos(this.pista.indexOf(cancion))"><i class="bi bi-volume-down-fill"></i></button>
                        <button class="btn btn-danger" (click)="this.volMas(this.pista.indexOf(cancion))"><i class="bi bi-volume-up-fill"></i></button>
                        <button class="btn btn-danger" (click)="this.mute(this.pista.indexOf(cancion))"><i class="bi bi-volume-mute-fill"></i></button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
